@import "../../global.scss";

.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: $mainColor;
    color: white;
    border-radius: 10px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    
    &:hover{
        background-color: rgb(15, 22, 53);
        color: white;
        box-shadow:1px 1px 10px red;
    }

    .poster {
        border-radius: 10px;
    }


    .title {
        width: 100%;
        text-align: center;
        font-size: 17px;
        padding: 8px 0;
    }

    .subTitle {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3px;
        padding: 0 2px;
        padding-bottom: 3px;
    }

}



  


